<ul class="todolist">
    <h1 ng-if="$ctrl.todos.length == 0">Don't lie to yourself, there's always something to do!</h1>
    <li ng-repeat="todo in $ctrl.todos">
        <todo todo="todo" index="$index"></todo>
    </li>
</ul>